@page
@model IndexModel

<div class="text-center">
    <h1 class="display-4">007 - App Service Basic Configuration</h1>
</div>
<br/>
<div>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DictionaryEntry item in @Model.Variables)
            {
                <tr>
                    <td>@item.Key</td>
                    <td class="break">@item.Value</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<style>
    .break {
        word-break: break-all;
    }
</style>